<div class="container mainContainer">
<div class="card">
    <div class="card-header text-center">
        <h3>Browns Headlines by ESPN.com</h3>
    </div>
    <div class="card-body">
  {{#each article}} 
  <div class="container">
    <div class ="card">
      <div class="card-header">
          <img class="img-fluid" src={{image}}>
      </div>
      <div class="card-body">
          <a href={{link}} target="_blank"><h4>{{title}}</h4></a>
          <p>{{summary}}</p>
          <i><p>{{timestamp}} Ago</p></i>
          <i><p>{{author}}</p></i>
      </div>
    </div>
    <br>
  </div>
  {{/each}}
</div>
</div>
</div>
<br>